nvidia-cusparse-cu12==12.3.1.170
nvidia-cusolver-cu12==11.6.1.9
bitsandbytes==0.46.0
nvidia-curand-cu12==10.3.5.147
fsspec==2025.3.0
nvidia-cudnn-cu12==9.1.0.70
nvidia-cublas-cu12==12.4.5.8
nvidia-nvjitlink-cu12==12.4.127
nvidia-cufft-cu12==11.2.1.3
google-cloud-bigquery==3.25.0
bq_helper==0.4.1
joblib==1.5.0
nltk==3.9.1
regex==2024.11.6
click==8.1.8
tqdm==4.67.1
lightgbm==4.6.0
siphash24==1.7
pytools==2025.1.3
pycuda==2025.1
gensim==4.3.3
torchtune==0.6.1
tbb==2022.1.0
mkl==2025.1.0
tbb4py==2022.1.0
shapely==2.1.0
libpysal==4.9.2
intel-cmplr-lib-ur==2024.2.0
intel-cmplr-lib-rt==2024.2.0
mkl-umath==0.1.1
mkl-service==2.4.1
mkl-random==1.2.4
numpy==1.26.4
intel-openmp==2024.2.0
mkl-fft==1.3.8
pynvjitlink-cu12==0.5.2
tblib==3.1.0
psutil==7.0.0
raft-dask-cu12==25.2.0
partd==1.4.2
treelite==4.4.1
dask==2024.12.1
cupy-cuda12x==13.4.1
cuda-python==12.9.0
pynvml==12.0.0
ucx-py-cu12==0.42.0
libcudf-cu12==25.2.2
nvidia-nvcomp-cu12==4.2.0.11
numba-cuda==0.2.0
libcuml-cu12==25.2.1
msgpack==1.1.0
importlib_metadata==8.7.0
fastrlock==0.8.3
libkvikio-cu12==25.2.1
distributed==2024.12.1
libcuvs-cu12==25.2.1
libucx-cu12==1.18.1
MarkupSafe==3.0.2
dask-cudf-cu12==25.2.2
dask-expr==1.1.21
rich==14.0.0
dask-cuda==25.2.0
zict==3.0.0
toolz==1.0.0
cuml-cu12==25.2.1
pylibcudf-cu12==25.2.2
locket==1.0.0
nvidia-ml-py==12.575.51
packaging==25.0
scipy==1.15.2
zipp==3.21.0
python-dateutil==2.9.0.post0
markdown-it-py==3.0.0
tzdata==2025.2
mdurl==0.1.2
six==1.17.0
pylibraft-cu12==25.2.0
rapids-dask-dependency==25.2.0
numba==0.60.0
urllib3==2.4.0
cloudpickle==3.1.1
nvtx==0.2.11
cudf-cu12==25.2.2
llvmlite==0.43.0
cuda-bindings==12.9.0
pandas==2.2.3
Pygments==2.19.1
pytz==2025.2
cachetools==5.5.2
Jinja2==3.1.6
rmm-cu12==25.2.0
libucxx-cu12==0.42.0
PyYAML==6.0.2
tornado==6.4.2
cuvs-cu12==25.2.1
libraft-cu12==25.2.0
ucxx-cu12==0.42.0
sortedcontainers==2.4.0
typing_extensions==4.13.2
pyarrow==19.0.1
distributed-ucxx-cu12==0.42.0
learntools==0.3.5
pycparser==2.22
annotated-types==0.7.0
charset-normalizer==3.4.2
kagglehub==0.3.12
grpcio-status==1.49.0rc1
frozenlist==1.6.0
protobuf==3.20.3
dnspython==2.7.0
attrs==25.3.0
in-toto-attestation==0.9.3
typing-inspection==0.4.0
id==1.5.0
rsa==4.9.1
PyJWT==2.10.1
pyOpenSSL==25.0.0
idna==3.10
email_validator==2.2.0
cffi==1.17.1
certifi==2025.4.26
sigstore==3.6.2
multiprocess==0.70.16
google-cloud-automl==1.0.1
model-signing==1.0.1
aiohttp==3.11.18
aiohappyeyeballs==2.6.1
googleapis-common-protos==1.70.0
pydantic_core==2.33.2
grpclib==0.4.8
pyasn1==0.6.1
huggingface-hub==0.31.1
filelock==3.18.0
pyasn1_modules==0.4.2
hpack==4.1.0
xxhash==3.5.0
multidict==6.4.3
propcache==0.3.1
sigstore-protobuf-specs==0.3.2
platformdirs==4.3.8
rfc3161-client==1.0.1
requests==2.32.3
cryptography==44.0.3
aiosignal==1.3.2
yarl==1.20.0
google-auth==2.40.1
betterproto==2.0.0b6
google-api-core==1.34.1
pydantic==2.11.4
datasets==3.6.0
securesystemslib==1.3.0
hyperframe==6.1.0
rfc8785==0.1.4
sigstore-rekor-types==0.0.18
tuf==6.0.0
grpcio==1.72.0rc1
h2==4.2.0
hf-xet==1.1.0
dill==0.3.8
tsfresh==0.21.0
fiona==1.10.1
urwid_readline==0.15.1
coverage==7.8.0
Wand==0.6.13
xvfbwrapper==0.2.13
qgrid==1.3.1
jupyter_client==8.6.3
woodwork==0.31.0
overrides==7.7.0
y-py==0.6.2
ipywidgets==8.1.5
ydata-profiling==4.16.1
hep_ml==0.7.3
scikit-multilearn==0.2.0
urwid==3.0.2
cytoolz==1.0.1
pytesseract==0.3.13
click-plugins==1.1.1
onnx==1.17.0
odfpy==1.4.1
mpld3==0.5.10
Boruta==0.4.3
docstring-to-markdown==0.17
fqdn==1.5.1
torchinfo==1.8.0
clint==0.5.1
pybind11==2.13.6
torchao==0.10.0
PyWavelets==1.8.0
python-lsp-server==1.12.2
jupyter_server_terminals==0.5.3
keras-core==0.1.7
pandas-profiling==3.6.6
asttokens==3.0.0
scikit-surprise==1.1.4
vtk==9.3.1
jupyter-ydoc==0.2.5
aiofiles==22.1.0
transformers==4.51.3
isoduration==20.11.0
featuretools==1.31.0
plotly-express==0.4.1
pycryptodomex==3.22.0
types-python-dateutil==2.9.0.20241206
easyocr==1.7.2
openslide-python==1.4.2
slicer==0.0.7
ray==2.46.0
ImageHash==4.3.1
pyemd==1.0.0
fuzzywuzzy==0.18.0
pyparsing==3.0.9
xgboost==2.0.3
pandasql==0.7.3
update-checker==0.18.0
pathos==0.3.2
jupyter_server_fileid==0.9.3
fasttext==0.9.3
stopit==1.1.2
haversine==2.9.0
pox==0.3.6
catboost==1.2.8
colorlog==6.9.0
jupyter_server==2.12.5
geojson==3.2.0
uri-template==1.3.0
notebook==6.5.4
pytorch-ignite==0.5.2
fury==0.12.0
igraph==0.11.8
kornia_rs==0.1.9
google-cloud-vision==3.10.1
olefile==0.47
semver==3.0.4
gymnasium==0.29.0
nvidia-cuda-cupti-cu12==12.4.127
TPOT==0.12.1
google-cloud-translate==3.12.1
tensorflow-cloud==0.1.5
torchdata==0.11.0
shap==0.44.1
rtree==1.4.0
ghapi==1.0.6
ninja==1.11.1.4
torchmetrics==1.7.1
pygltflib==1.16.4
Cartopy==0.24.1
nbdev==2.3.36
jupyter-lsp==1.5.1
pycryptodome==3.22.0
gpxpy==1.6.2
orderly-set==5.4.1
pymongo==4.12.1
mlcrate==0.2.0
papermill==2.6.0
jupyterlab==3.6.8
args==0.1.0
typing-inspect==0.9.0
omegaconf==2.3.0
PyUpSet==0.1.1.post7
dacite==1.9.2
qtconsole==5.6.1
visions==0.8.1
trx-python==0.3
Chessnut==0.4.1
beartype==0.20.2
deap==1.4.3
lml==0.2.0
jmespath==1.0.1
jupyterlab_server==2.27.3
ypy-websocket==0.8.4
ansicolors==1.1.8
tensorflow_decision_forests==1.11.0
path.py==12.5.0
blobfile==3.0.0
tensorflow-io==0.37.1
pymc3==3.11.4
wavio==0.0.9
cligj==0.7.2
pdf2image==1.17.0
dipy==1.11.0
pyaml==25.1.0
pypdf==5.4.0
line_profiler==4.2.0
pydub==0.25.1
botocore==1.38.11
google-cloud-videointelligence==2.16.1
pyLDAvis==3.4.1
antlr4-python3-runtime==4.9.3
Janome==0.5.0
langid==1.1.6
simpleitk==2.5.0
pyclipper==1.3.0.post6
kornia==0.8.1
scikit-plot==0.3.7
pydegensac==0.1.2
jupyter_server_ydoc==0.8.0
phik==0.12.4
keras-tuner==1.4.7
colorama==0.4.6
scikit-learn-intelex==2025.5.0
json5==0.12.0
PyArabic==0.6.15
ydf==0.9.0
ujson==5.10.0
boto3==1.38.11
alembic==1.15.2
annoy==1.17.3
h2o==3.46.0.7
optuna==4.3.0
Pympler==1.1
s3fs==0.4.2
geopandas==0.14.4
nbconvert==6.4.5
scikit-learn==1.2.2
emoji==2.14.1
watchdog==6.0.0
funcy==2.0
deepdiff==8.4.2
testpath==0.6.0
rfc3986-validator==0.1.1
nvidia-cuda-runtime-cu12==12.4.127
nbclient==0.5.13
Theano==1.0.5
wurlitzer==3.1.1
python-bidi==0.6.6
pudb==2025.1
plum-dispatch==2.5.7
pytorch-lightning==2.5.1.post0
squarify==0.4.4
comm==0.2.2
dataclasses-json==0.6.7
jupyter-events==0.12.0
pettingzoo==1.24.0
lightning-utilities==0.14.3
nilearn==0.10.4
segment_anything==1.0
kaggle-environments==1.16.11
marshmallow==3.26.1
eli5==0.13.0
widgetsnbextension==4.0.14
rgf-python==3.12.0
ipympl==0.9.7
tiktoken==0.9.0
stable-baselines3==2.1.0
nvidia-cuda-nvrtc-cu12==12.4.127
jedi==0.19.2
jupyterlab-lsp==3.10.2
python-lsp-jsonrpc==1.1.2
aiosqlite==0.21.0
QtPy==2.4.3
pydicom==3.0.1
multimethod==1.12
docker==7.1.0
ppft==1.7.7
arrow==1.3.0
isoweek==1.3.3
texttable==1.7.0
daal==2025.5.0
sphinx-rtd-theme==0.2.4
kt-legacy==1.0.5
puremagic==1.29
seaborn==0.12.2
pyexcel-io==0.6.7
matplotlib==3.7.2
Shimmy==1.3.0
rfc3339-validator==0.1.4
category_encoders==2.7.0
stumpy==1.13.0
mamba==0.11.3
path==17.1.0
pyexcel-ods==0.6.0
preprocessing==0.1.13
lime==0.2.0.1
htmlmin==0.1.12
s3transfer==0.12.0
cesium==0.12.4
python-json-logger==3.3.0
Theano-PyMC==1.1.2
bayesian-optimization==2.0.3
keras-cv==0.9.0
gatspy==0.3
hf_transfer==0.1.9
scikit-optimize==0.10.2
mne==1.9.0
Mako==1.3.10
mypy_extensions==1.1.0
mistune==0.8.4
setuptools-scm==8.3.1
execnb==0.1.14
openslide-bin==4.0.0.8
google-colab==1.0.0
mizani==0.13.2
astunparse==1.6.3
google-cloud-iam==2.18.3
ipython==7.34.0
jax==0.5.2
pymc==5.21.2
referencing==0.36.2
roman-numerals-py==3.1.0
soxr==0.5.0.post1
libclang==18.1.1
keras-nlp==0.18.1
imageio==2.37.0
geemap==0.35.3
google-cloud-firestore==2.20.1
clarabel==0.10.0
h11==0.14.0
db-dtypes==1.4.2
imagesize==1.4.1
py-cpuinfo==9.0.0
debugpy==1.8.0
stringzilla==3.12.3
jupyterlab_pygments==0.3.0
backcall==0.2.0
tensorflow-hub==0.16.1
earthengine-api==1.5.9
requests-oauthlib==2.0.0
scooby==0.10.0
opencv-python-headless==4.11.0.86
dopamine_rl==4.1.2
etils==1.12.2
setproctitle==1.3.5
wandb==0.19.9
sklearn-compat==0.1.3
ipython-genutils==0.2.0
catalogue==2.0.10
sphinxcontrib-devhelp==2.0.0
sklearn-pandas==2.2.0
Markdown==3.7
sphinxcontrib-qthelp==2.0.0
google-auth-httplib2==0.2.0
Flask==3.1.0
preshed==3.0.9
google-cloud-resource-manager==1.14.2
marisa-trie==1.2.1
google-cloud-core==2.4.3
ipyleaflet==0.19.2
chardet==5.2.0
jupyter_core==5.7.2
simple-parsing==0.1.7
matplotlib-venn==1.1.2
gin-config==0.5.0
SQLAlchemy==2.0.40
ipython-sql==0.5.0
toml==0.10.2
kaggle==1.7.4.2
jsonpointer==3.0.0
ndindex==1.9.2
astropy-iers-data==0.2025.3.31.0.36.18
proglog==0.1.11
tensorflow-io-gcs-filesystem==0.37.1
simplejson==3.20.1
datascience==0.17.6
alabaster==1.0.0
langchain-text-splitters==0.3.7
pygit2==1.17.0
pyshp==2.3.1
PyGObject==3.42.0
pytest==8.3.5
gspread==6.2.0
spacy-legacy==3.0.12
diffusers==0.32.2
librosa==0.11.0
ibis-framework==9.5.0
fastcore==1.7.29
requests-toolbelt==1.0.0
types-pytz==2025.2.0.20250326
PyDrive==1.3.1
google-cloud-functions==1.20.2
imutils==0.5.4
sentence-transformers==3.4.1
opt_einsum==3.4.0
moviepy==1.0.3
en_core_web_sm==3.8.0
langchain-core==0.3.50
nbclassic==1.2.0
importlib_resources==6.5.2
xarray-einstats==0.8.0
lazy_loader==0.4
ipyevents==2.0.2
immutabledict==4.2.1
music21==9.3.0
openai==1.70.0
sqlglot==25.20.2
ale-py==0.10.2
linkify-it-py==2.0.3
scikit-image==0.25.2
language_data==1.3.0
treescope==0.1.9
nvidia-cuda-nvcc-cu12==12.5.82
libcugraph-cu12==25.2.0
google-crc32c==1.7.1
google-cloud-language==2.17.1
torchsummary==1.5.1
webencodings==0.5.1
webcolors==24.11.1
pydot==3.0.4
orbax-checkpoint==0.11.10
google-cloud-dataproc==5.18.1
jellyfish==1.1.0
gym==0.25.2
flax==0.10.5
cramjam==2.9.1
gdown==5.2.0
httpimport==1.4.1
pymystem3==0.2.0
parso==0.8.4
py4j==0.10.9.7
nx-cugraph-cu12==25.2.0
entrypoints==0.4
fastprogress==1.0.3
torchaudio==2.6.0+cu124
pyogrio==0.10.0
bigframes==1.42.0
oauthlib==3.2.2
tifffile==2025.3.30
firebase-admin==6.7.0
fastjsonschema==2.21.1
psycopg2==2.9.10
missingno==0.5.2
pandas-datareader==0.10.0
google-spark-connect==0.5.2
Deprecated==1.2.18
pooch==1.8.2
cycler==0.12.1
tensorboard==2.18.0
tcmlib==1.3.0
pyproj==3.7.1
arviz==0.21.0
duckdb==1.2.1
inflect==7.5.0
argon2-cffi-bindings==21.2.0
namex==0.0.8
nvidia-nccl-cu12==2.21.5
rpy2==3.5.17
torch==2.6.0+cu124
argon2-cffi==23.1.0
opencv-contrib-python==4.11.0.86
atpublic==5.1
sphinxcontrib-applehelp==2.0.0
google-cloud-spanner==3.53.0
langsmith==0.3.23
umap-learn==0.5.7
yfinance==0.2.55
bleach==6.2.0
langchain==0.3.22
jax-cuda12-plugin==0.5.1
optree==0.14.1
defusedxml==0.7.1
sphinxcontrib-serializinghtml==2.0.0
more-itertools==10.6.0
python-utils==3.9.1
timm==1.0.15
Pyomo==6.8.2
pydotplus==2.0.2
ml-dtypes==0.4.1
peewee==3.17.9
google-pasta==0.2.0
pyzmq==24.0.1
cmdstanpy==1.2.5
ipyparallel==8.8.0
parsy==2.1
bqplot==0.12.44
spacy-loggers==1.0.5
google-ai-generativelanguage==0.6.15
panel==1.6.2
prophet==1.1.6
pydata-google-auth==1.9.1
anyio==4.9.0
absl-py==1.4.0
openpyxl==3.1.5
vega-datasets==0.9.0
mpmath==1.3.0
frozendict==2.4.6
opencv-python==4.11.0.86
cudf-polars-cu12==25.2.2
folium==0.19.5
mdit-py-plugins==0.4.2
zstandard==0.23.0
google-cloud-aiplatform==1.87.0
langcodes==3.5.0
pytensor==2.30.2
blinker==1.9.0
xyzservices==2025.1.0
googledrivedownloader==1.1.0
thinc==8.3.4
google-generativeai==0.8.4
et_xmlfile==2.0.0
jieba==0.42.1
pluggy==1.5.0
hyperopt==0.2.7
python-louvain==0.16
google-auth-oauthlib==1.2.1
soupsieve==2.6
PyDrive2==1.21.3
simsimd==6.2.1
umf==0.10.0
peft==0.14.0
imbalanced-learn==0.13.0
wcwidth==0.2.13
narwhals==1.33.0
typeguard==4.4.2
blosc2==3.2.1
spanner-graph-notebook==1.1.6
progressbar2==4.5.0
pexpect==4.9.0
ptyprocess==0.7.0
pygame==2.6.1
docker-pycreds==0.4.0
Cython==3.0.12
shellingham==1.5.4
jiter==0.9.0
CacheControl==0.14.2
prometheus_client==0.21.1
nbformat==5.10.4
python-snappy==0.7.3
torchvision==0.21.0+cu124
tensorflow-metadata==1.17.0
nest-asyncio==1.6.0
nibabel==5.3.2
cmake==3.31.6
multipledispatch==1.0.0
tf_keras==2.18.0
cloudpathlib==0.21.0
networkx==3.4.2
gcsfs==2025.3.2
sentencepiece==0.2.0
einops==0.8.1
plotly==5.24.1
bokeh==3.6.3
pycairo==1.27.0
ipytree==0.2.2
python-box==7.3.2
tensorflow-datasets==4.9.8
graphviz==0.20.3
scs==3.2.7.post2
pillow==11.1.0
google-api-python-client==2.164.0
textblob==0.19.0
PyOpenGL==3.1.9
google-cloud-bigtable==2.30.0
decorator==4.4.2
google-cloud-datastore==2.20.2
docstring_parser==0.16
pickleshare==0.7.5
fastai==2.7.19
wrapt==1.17.2
google-cloud-storage==2.19.0
GDAL==3.6.4
wasabi==1.1.3
spacy==3.8.5
blis==1.2.1
tensorflow-text==2.18.1
optax==0.2.4
gast==0.6.0
Werkzeug==3.1.3
colorcet==3.1.0
python-slugify==8.0.4
cvxpy==1.6.4
miniKanren==1.0.3
traitlets==5.7.1
sqlparse==0.5.3
terminado==0.18.1
holidays==0.69
sphinxcontrib-htmlhelp==2.1.0
orjson==3.10.16
grpc-interceptor==0.15.4
geocoder==1.38.1
pyviz_comms==3.0.4
babel==2.17.0
jax-cuda12-pjrt==0.5.1
ply==3.11
audioread==3.0.1
docutils==0.21.2
osqp==1.0.3
distro==1.9.0
tf-slim==1.1.0
tokenizers==0.21.1
tzlocal==5.3.1
cons==0.4.6
rpds-py==0.24.0
geographiclib==2.0
matplotlib-inline==0.1.7
editdistance==0.8.1
httpcore==1.0.7
h5py==3.13.0
tabulate==0.9.0
statsmodels==0.14.4
holoviews==1.20.2
sentry-sdk==2.25.1
dlib==19.24.6
community==1.0.0b1
bigquery-magics==0.9.0
gym-notices==0.0.8
notebook_shim==0.2.4
soundfile==0.13.1
pyspark==3.5.5
itsdangerous==2.2.0
jsonpatch==1.33
plotnine==0.14.5
prompt_toolkit==3.0.50
traittypes==0.2.1
autograd==1.7.0
text-unidecode==1.3
pycocotools==2.0.8
jsonpickle==4.0.5
weasel==0.4.1
srsly==2.5.1
wordcloud==1.9.4
eerepr==0.1.1
cymem==2.0.11
smart-open==7.1.0
patsy==1.0.1
beautifulsoup4==4.13.3
opentelemetry-sdk==1.31.1
tables==3.10.2
altair==5.5.0
grpc-google-iam-v1==0.14.2
cufflinks==0.17.3
cvxopt==1.3.2
triton==3.2.0
PySocks==1.7.1
uc-micro-py==1.0.3
proto-plus==1.26.1
Sphinx==8.2.3
fonttools==4.57.0
xlrd==2.0.1
pynndescent==0.5.13
numexpr==2.10.2
array_record==0.7.1
h5netcdf==1.6.1
promise==2.3
threadpoolctl==3.6.0
Send2Trash==1.8.3
sniffio==1.3.1
httplib2==0.22.0
jupyterlab_widgets==3.0.13
chex==0.1.89
confection==0.1.5
uritemplate==4.1.1
stanio==0.5.1
easydict==1.13
future==1.0.0
tensorflow==2.18.0
websocket-client==1.8.0
flatbuffers==25.2.10
Bottleneck==1.4.2
kiwisolver==1.4.8
snowballstemmer==2.2.0
colour==0.1.5
google-genai==1.9.0
hdbscan==0.8.40
sphinxcontrib-jsmath==1.0.1
google-resumable-media==2.7.2
murmurhash==1.0.12
portpicker==1.5.2
Farama-Notifications==0.0.4
accelerate==1.5.2
jaxlib==0.5.1
sympy==1.13.1
ipykernel==6.17.1
pathlib==1.0.1
websockets==15.0.1
pandas-stubs==2.2.2.240909
ratelim==0.1.6
google-cloud-bigquery-connection==1.18.2
greenlet==3.1.1
multitasking==0.0.11
astropy==7.0.1
imageio-ffmpeg==0.6.0
opentelemetry-api==1.31.1
pyperclip==1.9.0
jsonschema-specifications==2024.10.1
tinycss2==1.4.0
keras==3.8.0
pylibcugraph-cu12==25.2.0
tenacity==9.1.2
cyipopt==1.5.0
polars==1.21.0
oauth2client==4.1.3
typer==0.15.2
lxml==5.3.1
etuples==0.3.9
gspread-dataframe==4.0.0
albumentations==2.0.5
geopy==2.4.1
logical-unification==0.4.6
natsort==8.4.0
prettytable==3.16.0
GitPython==3.1.44
pyerfa==2.0.1.5
param==2.2.0
keras-hub==0.18.1
xarray==2025.1.2
pandas-gbq==0.28.0
google-cloud-pubsub==2.29.0
gitdb==4.0.12
safetensors==0.5.3
httpx==0.28.1
jsonschema==4.23.0
nvidia-nvtx-cu12==12.4.127
albucore==0.0.23
tweepy==4.15.0
fastdownload==0.0.7
highspy==1.9.0
jupyter-console==6.1.0
branca==0.8.1
pandocfilters==1.5.1
yellowbrick==1.5
opentelemetry-semantic-conventions==0.52b1
nvidia-cusparselt-cu12==0.6.2
contourpy==1.3.1
tensorboard-data-server==0.7.2
google==2.0.3
jupyter-leaflet==0.19.2
mlxtend==0.23.4
humanize==4.12.2
smmap==5.0.2
tensorstore==0.1.73
wheel==0.45.1
glob2==0.7
tensorflow-probability==0.25.0
termcolor==3.0.1
colorlover==0.3.0
ipyfilechooser==0.6.0
iniconfig==2.1.0
dm-tree==0.1.9
html5lib==1.1
python-apt==0.0.0
setuptools==75.2.0
types-setuptools==78.1.0.20250329
requirements-parser==0.9.0
pip==24.1.2
PyGObject==3.42.1
blinker==1.4
jeepney==0.7.1
six==1.16.0
oauthlib==3.2.0
wadllib==1.3.6
launchpadlib==1.10.16
dbus-python==1.2.18
PyJWT==2.3.0
importlib-metadata==4.6.4
httplib2==0.20.2
zipp==1.0.0
pyparsing==2.4.7
Markdown==3.3.6
python-apt==2.4.0+ubuntu4
Mako==1.1.3
lazr.restfulclient==0.14.4
SecretStorage==3.3.1
distro==1.7.0
lazr.uri==1.0.6
more-itertools==8.10.0
MarkupSafe==2.0.1
cryptography==3.4.8
keyring==23.5.0
packaging==24.1
inflect==7.3.1
autocommand==2.2.2
typeguard==4.3.0
jaraco.text==3.12.1
importlib_resources==6.4.0
wheel==0.43.0
zipp==3.19.2
platformdirs==4.2.2
importlib_metadata==8.0.0
tomli==2.0.1
jaraco.collections==5.1.0
more-itertools==10.3.0
typing_extensions==4.12.2
backports.tarfile==1.2.0
jaraco.functools==4.0.1
jaraco.context==5.3.0
